# Reddit API info (see https://mattbdean.gitbooks.io/jraw/quickstart.html)
reddit_username = <your username>
reddit_password = <your password>
reddit_client_id = <your app's client id>
reddit_client_secret = <your app's client secret>