<div th:fragment="deals" class="columns is-multiline">

    <!-- Begin Deal items -->
    <!--<div th:each="deal : ${deals}">-->
    <div th:each="deal : ${deals}" class="column is-12-mobile is-6-tablet is-4-fullhd" style="padding: 8px">
        <div class="notification" style="padding: 0.5rem 0.8rem;">
            <article class="media">
                <div class="media-left">
                    <figure class="card image" style="width: 160px; height: auto; max-height: 160px">
                        <a th:attr="href=${deal.url}" href="#" target="_blank" style="text-decoration: none;">
                            <img th:attr="src=${deal.imageUrl}, alt=${deal.vendors.get(0)}" class="preview-image has-text-centered condensed">
                        </a>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <a th:attr="href=${deal.url}" href="#" target="_blank" style="text-decoration: none;">
                            <h3 th:text="${deal.title}" class="condensed">Title</h3>
                        </a>
                        <div id="icons" class="has-icon has-text-grey">
                            <span th:each="vendor : ${deal.vendors}">
                                <i th:attr="class=${iconMap.get(vendor)}, alt=${vendor}"></i>
                            </span>
                            <span th:if="${not (#lists.isEmpty(deal.vendors) or #lists.isEmpty(deal.platforms))}">-</span>
                            <span th:each="platform : ${deal.platforms}">
                                <i th:attr="class=${iconMap.get(platform)}, alt=${platform}"></i>
                            </span>
                        </div>
                        <div class="has-text-grey">
                            <a th:attr="href=${deal.sourceUrl}" href="#" target="_blank" style="text-decoration: none;">
                                <em th:text="${deal.sourceName}" class="tiny condensed">Source</em>
                                <em class="tiny condensed" th:if="${deal.expiry} != null">
                                    (expires <span th:text="${deal.expiry}"></span>)
                                </em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="media-right has-text-grey-light">
                    <a href="#">
                        <i class="fas fa-ellipsis-v tiny"></i>
                    </a>
                </div>
            </article>
        </div>
    </div>
    <!-- End of Deal items -->

</div>