<div th:fragment="deals" class="columns is-multiline">

    <!-- Begin Deal items -->
    <!--<div th:each="deal : ${deals}">-->
    <div th:each="deal : ${deals}" class="column is-12-mobile is-6-tablet is-4-fullhd">
        <div class="notification">
            <article class="media">
                <div class="media-left">
                    <figure class="card image is-128x128 has-text-centered has-background-white-ter">
                        <img th:attr="src=${deal.imageUrl}" src="catnap128.jpg" class="preview-image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <a th:attr="href=${deal.url}" href="#" target="_blank" style="text-decoration: none;">
                            <h3 th:text="${deal.title}" class="condensed">Game Title</h3>
                        </a>
                        <div id="icons" class="has-icon has-text-grey">
                            <i class="fab fa-steam"></i>
                            -
                            <i class="fab fa-windows"></i>
                            <i class="fab fa-apple"></i>
                            <i class="fab fa-linux"></i>
                        </div>
                        <div class="has-text-grey">
                            <a th:attr="href=${deal.sourceUrl}" href="#" target="_blank" style="text-decoration: none;">
                                <em th:text="${deal.sourceName}" class="tiny condensed">via Reddit, /r/GameDeals</em>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="media-right has-text-grey-light">
                    <a href="#">
                        <i class="fas fa-ellipsis-v tiny"></i>
                    </a>
                </div>
            </article>
        </div>
    </div>
    <!-- End of Deal items -->

</div>