<div th:fragment="header" class="level">
    <div class="level-left is-11-mobile">
        <div class="level-item" style="align-items: center; vert-align: bottom !important;">
            <a href="https://github.com/ababyduck/gameDealScraper" target="_blank">
                <span class="appTitle1">gameDeal</span><span class="appTitle2">Scraper</span>
                <span class="tiny condensed" style="margin-left: 0.25rem;">v0.0.1-PRE</span>
            </a>
        </div>
    </div>
    <div class="level-right is-1-mobile">
        <nav class="level-item has-text-right" style="font-size: 0.7rem;">
            <span>
                <a href="/?r=1&h=1">
                    <i id="refresh" class="fas fa-sync"></i>
                </a>
            </span>
            <span style="margin-left: 0.5rem;">
                <i id="toggle-dark-mode" class="fas fa-lightbulb"></i>
            </span>
        </nav>
    </div>
</div>