<div th:fragment="header" class="level">
    <div class="level-left is-11-mobile">
        <div class="level-item" style="align-items: center; vert-align: bottom !important;">
            <span class="appTitle1">gameDeal</span><span class="appTitle2">Scraper</span>
            <span class="tiny condensed" style="margin-left: 0.25rem;">v0.0.1-PRE</span>
        </div>
    </div>
    <div class="level-right is-1-mobile">
        <div class="level-item has-text-right">
            <i class="fas fa-sync" style="font-size: 0.6rem;"></i>
        </div>
    </div>
</div>