@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Press+Start+2P|Permanent+Marker");
@import "../lib/css/bulma.min.css";

/* Page theming */
:root {
    --dark-bg:       #2a2a2e;
    --dark-bg-inner: #38383d;
    --dark-text:     #cfcfd1;
    --red:           #f2777a;
    --yellow:        #ffcc66;
}

html {
    background-color: var(--dark-bg);
}
body {
    color: var(--dark-text);
}
div .notification {
    background-color: var(--dark-bg-inner);
}
div .condensed{
    color: var(--dark-text);
}
a img {
    background: var(--dark-bg);
}
.fa-lightbulb {
    color: var(--yellow);
}

/* General-use classes */
.tiny {
    font-size: 0.8rem;
}
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}
.is-vertical-center {
    display: flex;
    align-items: center;
}

/* Single-purpose */
.appTitle1 {
    font-family: 'Press Start 2P', cursive;
    color: var(--dark-text);
    font-size: 1rem;
}
.appTitle2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    color: var(--red);
    transform: translateY(-0.1rem);
}
.preview-image {
    height: 100% !important;
    object-fit: contain;
}
.fa-sync {
    text-decoration: none;
    color: var(--dark-text);
}