@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Press+Start+2P|Permanent+Marker");
@import "../lib/css/bulma.min.css";

.appTitle1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}
.appTitle2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    transform: translateY(-0.1rem);
}

.tiny {
    font-size: 0.8rem;
}
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

.preview-image {
    height: 100% !important;
    object-fit: cover;
}

.fa-reddit-alien {
    color: #FF4500;
}
.fa-steam {
    color: #1b2838;
}