@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Press+Start+2P|Permanent+Marker");
@import "../lib/css/bulma.min.css";

/* Page theming */
body {
    background-color: #2a2a2e;
    color: #cfcfd1;
}
div .notification {
    background-color: #38383d;
}
div .condensed{
    color: #cfcfd1;
}
#icons {
    /*     color: #a0a0a3 !important; */
}
a img {
    background: #2a2a2e;
}
.fa-lightbulb {
    color: #ffcc66;
}

/* General-use classes */
.tiny {
    font-size: 0.8rem;
}
.condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}
.is-vertical-center {
    display: flex;
    align-items: center;
}

/* Single-purpose */
.appTitle1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}
.appTitle2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    color: #f2777a;
    transform: translateY(-0.1rem);
}
.preview-image {
    height: 100% !important;
    object-fit: contain;
}

/* Glyph icons */
/*
.fa-reddit-alien {
    color: #ff4500;
}
.fa-steam {
    color: #1b2838;
}
.fa-twitch {
    color: #392e5c;
}
*/