<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gameDealScraper v0.0.1-PRE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Press+Start+2P|Permanent+Marker">
    <link type="text/css" href="lib/css/bulma.min.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<section class="section">
    <div class="container">

        <h1 class="title">
            gameDealScraper v0.0.1-PRE
        </h1>

        <!-- Begin page content -->
        <div th:replace="fragments/deals.html :: deals">No fragment found</div>

    </div>
</section>

</body>
</html>
</html>