<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gameDealScraper v0.0.1-PRE</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<section class="section">
    <div class="container">
        <div th:replace="fragments/header.html :: header">Could not resolve header fragment</div>
        <div th:replace="fragments/deals.html :: deals">Could not resolve content fragment</div>
    </div>
</section>

</body>
</html>