<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gameDealScraper v0.0.1-PRE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Press+Start+2P|Permanent+Marker">
    <link type="text/css" href="css/bulma.min.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<section class="section">
    <div class="container">

        <h1 class="title">
            gameDealScraper v0.0.1-PRE
        </h1>
        <div class="columns is-multiline">

            <!-- Begin deal item -->
            <div class="column is-6-tablet is-4-desktop">
                <div class="notification">
                    <article class="media">
                        <div class="media-left">
                            <figure class="card image is-128x128 is-vcentered has-text-centered">
                                (No image)
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Game Title</strong>
                                    <small>asdf</small>
                                    <br>
                                    [icons]
                                    <br>
                                    <small>
                                        <em>Source:</em> Reddit, /u/dankmemer420 via /r/GameDeals
                                    </small>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- End deal item -->

        </div>

    </div>
</section>

</body>
</html>